.Categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.Categories button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: none;
}

.Categories button.selected {
  color: white;
  background-color: green;
  border-color: green;
}
