.Image {
  aspect-ratio: 1 / 1;
  position: relative;
  font-size: 80%;
  overflow: hidden;
  padding: 0.5rem;
}

.Image-loading {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #999999, #eeeeee, #999999);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

.Image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Image-topLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.Image-bottomLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.25rem;
}

.Image-bottomLabel div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
