.Image {
  position: relative;
  font-size: 50%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image.zoomed {
  font-size: 80%;
}

.Image-loading {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #999999, #eeeeee, #999999);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

.Image-imageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image-imageWrapper > * {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.Image-topLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.Image-bottomLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.25rem;
}

.Image-bottomLabel div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.Image-bottomLabel div b {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.1rem 0.25rem;
  display: inline;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 1000px) {
  .Image {
    font-size: 60%;
  }

  .Image.zoomed {
    font-size: 96%;
  }
}

@media (min-width: 1500px) {
  .Image {
    font-size: 70%;
  }

  .Image.zoomed {
    font-size: 112%;
  }
}
