.Parts {
}

.Parts-table {
}

.Parts-table table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

.Parts-table thead th {
  padding: 0;
  vertical-align: middle;
}

.Parts-table thead th {
  padding: 0.25rem;
}

.Parts-table thead th {
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: left;
  white-space: nowrap;
}

.Parts-table thead th.right-divider {
  border-right: 1px solid white;
}

.Parts-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.Parts-images > * {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .Parts-table {
    overflow-x: auto;
  }
}
