tr.Row {
  padding: 0;
}

tr.Row:nth-child(odd) {
  background-color: #eeeeee;
}

tr.Row:nth-child(even) {
  background-color: #cccccc;
}

tr.Row td {
  padding: 2px;
  vertical-align: middle;
  white-space: nowrap;
}

.Row-name {
  max-width: 25vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  min-width: 360px;
}

.Row-imageCell {
  padding: 0;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Row-colorCell {
  padding-left: 8px !important;
}

.Row-partIdCell b {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.1rem 0.25rem;
}

.Row-imageCell img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  transform-origin: top left;
  display: block;
}

.Row-imageCell img:hover {
  transform: scale(4);
}
